---
import Layout1 from "../layouts/Layout1.astro";
// import Card from '../components/Card.astro';
---

<Layout1 title="Maratib Ali Khan - Full Stack Software Engineer">
	<div>
		<div class="items-center text-center">
			<h1 class="">Maratib Ali Khan</h1>
			<h2 class="mt-4 mb-4 text-green-300">
				Full Stack Software Developer
			</h2>

			<hr />
			<div class="grid grid-cols-2">
				<div>
					<!--?xml version="1.0" ?-->

					<a
						target="_blank"
						class="anchor"
						href="https://www.linkedin.com/in/maratibali"
					>
						Linkedin</a
					>
				</div>
				<div>
					<a
						target="_blank"
						class="anchor"
						href="https://github.com/maratib">Github</a
					>
				</div>
			</div>
		</div>
	</div>
</Layout1>
