---
import "@/assets/base.css";
// interface Props {
//   title: string;

// }

const { title, frontmatter } = Astro.props;
---

<!doctype html>
<html class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || frontmatter.title}</title>
  </head>
  <body>
    <main class="min-h-screen grid place-items-center">
      <slot />
    </main>
  </body>
</html>
